{% comment %}
  props

  content
  class
  variant
  type
  href

  {% render "button"
    , text: section.settings.header-button
    , variant: "outline"
  %}
{% endcomment %}

{% assign className = class | default: ' relative' %}
{% assign content = content | default: 'Your text' %}
{% assign type = type | default: 'button' %}

{% case variant %}
  {% when 'outline' %}
    {% assign var = 'outline' %}
  {% when 'solid-primary' %}
    {% assign var = 'solid-primary text-white' %}
  {% when 'solid-secondary' %}
    {% assign var = 'solid-secondary' %}
  {% when 'icon' %}
    {% assign var = 'icon' %}
  {% when 'text' %}
    {% assign var = 'text' %}
  {% else %}
    {% assign var = '' %}
{% endcase %}

{% if href %}
  <a class="{{ var }} {{ className }}" href="{{ href }}">{{ content }}</a>
{% else %}
  <button class="{{ var }} {{ className }}" type="{{ type }}">{{ content }}</button>
{% endif %}

<div
  class="bg-gray-800 rounded border-solid border-gray-800 border pt-[18px] pr-[30px] pb-[18px] pl-[30px] flex flex-row gap-2.5 items-center justify-center self-stretch shrink-0 relative"
>
  <div
    class=""
  >
    Buy it now
  </div>
</div>
