{% comment %}
  content
  class
  variant
  type
  href
  disable

  {% render "button"
    , content: "hello"
    , variant: "outline"
    , disable: disable,
    , class: {{ "shadow-sm" }}
    , type: "button"
    , href:  "/#"
  %}
{% endcomment %}

{% assign className = class %}
{% assign content = content | default: 'Your text' %}
{% assign type = type | default: 'button' %}

{% case variant %}
  {% when 'solid' %}
    {% assign var = 'solid' %}
  {% when 'outline' %}
    {% assign var = 'outline' %}
  {% when 'icon' %}
    {% assign var = 'icon' %}
  {% when 'link' %}
    {% assign var = 'link' %}
  {% when 'text' %}
    {% assign var = 'text' %}
  {% else %}
    {% assign var = '' %}
{% endcase %}

{% if href %}
  <a class="button {{ var }} {{ className }}" href="{{ href }}">{{ content }}</a>
{% else %}
  <button class="button {{ var }} {{ className }}" type="{{ type }}" {{ disabled }}>{{ content }}</button>
{% endif %}
