{% comment %}
  {% render 'radio-button', value: 'green', checked: 'checked', option: 'milc', variant: 'icon' %}
{% endcomment %}

<div class="p-1 radio">
  <label
    for="{{ value }}"
    class="relative block size-[1.875rem] cursor-pointer rounded-full bg-gray-200 "
  >
    <input
      type="radio"
      name="{{ option }}"
      value="{{ value }}"
      id="{{ value }}"
      class="input-hide"
      {{ checked }}
    >
    {% if variant == 'icon' %}
      <i>
        {% render 'icon-check', className: 'size-5' %}
      </i>
    {% else %}
      <span></span>
    {% endif %}
  </label>
</div>
<style>
  .radio label {
    padding: 4px;
  }
  .radio label i {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all var(--duration-default) ease-in-out;
  }
  .radio label > input:checked ~ i {
    opacity: 1;
  }
  .radio label span {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    border-radius: 999px;
    border: 2px solid var(--gray-200);
    transition: all var(--duration-default) ease-in-out;
  }
  .radio label > input:checked + span {
    border: 2px solid var(--color-foreground);
  }
  .input-hide {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
</style>
