<div
  class="container flex flex-col gap-3 gap-6 py-6 "
  itemscope
  itemtype='http://schema.org/BlogPosting'>
  <div class="flex flex-col gap-2">
    <h1 class="text-3xl font-semibold" itemprop="headline">{{ article.title }}</h1>
    <div class="flex gap-2">
      <h3 class="text-primary-gray1" itemprop="creator">{{ article.author }}</h3>
      <p itemprop="datePublished">
        {{ article.created_at | time_tag | date: '%m/%d/%Y' }}
      </p>
    </div>
    {% if article.tags != blank %}
      <ul class="flex gap-1 flex-wrap max-w-[200px]">
        {% for tag in article.tags %}
          <li itemprop="keywords" class="px-2 py-1 rounded-3xl bg-primary-gray2">
            {{ tag | capitalize }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div itemprop="image" class="h-[400px] ibg flex justify-center items-center">
    {% if article.image %}
      {{ article.image.src | image_url: width: "2000" | image_tag }}
    {% else %}
      {{ "lifestyle-1" | placeholder_svg_tag }}
    {% endif %}
  </div>

  <div itemprop="articleBody" class="px-2 py-3 border-t border-b border-primary-gray1">
    {{ article.content }}
  </div>

  <div>
    {% if article.comments_enabled? %}
      {% if article.comments_count > 0 %}

        <ul class="">
          {% paginate article.comments by 1 %}
            {% for coment in article.comments %}
              <li class="p-3 shadow-md">
                {% render "comment"
                  , commentItem: coment %}
              </li>
            {% endfor %}
            <p class="flex justify-center p-2 mx-auto my-2 border w-fit border-primary-gray1">{{ article.comments_count }} comments</p>
            {% render "pagination"
              , pagination: paginate %}
          {% endpaginate %}
        </ul>


      {% endif %}
    {% endif %}

    <div>
      {% form 'new_comment'
        , article %}
        {{ form.errors | default_errors }}
        <div class="flex flex-col gap-2 max-w-[600px] mx-auto">
          <div class="flex flex-wrap gap-2">
            <div class="flex flex-col gap-1">
              <label for="name">Name</label>
              <input
                class="w-full"
                type="text"
                name="comment[author]"
                value="{{ form.author }}">
            </div>
            <div class="flex flex-col gap-1">
              <label for="email">Email</label>
              <input
                class="w-full"
                type="email"
                name="comment[email]"
                value="{{ form.email }}">
            </div>
          </div>
          <div class="flex flex-col gap-1">
            <label for="comment">Comment</label>
            <textarea name="comment[body]">{{ form.body }}</textarea>
          </div>
          <button
            data-aos="fade-right"
            type="submit"
            value="Post"
            class="px-3 py-1 transition-all shadow-md bg-primary-gray3 hover:bg-primary-gray1">send comment</button>
        </div>
      {% endform %}
    </div>
  </div>
</div>

<script>
  window.addEventListener('DOMContentLoaded',()=>{
    const prev = document.querySelector('.prev > a');
    const next = document.querySelector('.next > a');
    if (prev) {
      prev.text = prev.text.split(" ")[0];
    }
    if(next){
      next.text = next.text.split(" ")[1];
   }
  })
</script>

{% schema %}
  {
    "name": "article",
    "tag": "article"
  }
{% endschema %}