<div class="container">

  <div class="flex mx-auto my-3 text-3xl font-semibold w-fit">
    <h1>{{ blog.title }} Posts:
    </h1>
    <p>{{ blog.articles_count }}</p>
  </div>

  {% paginate blog.articles by 3 %}
    <div class="grid grid-cols-3 gap-3">
      {% for article in blog.articles %}
        <div class="flex flex-col gap-3 p-2 shadow-md">
          <div class="flex flex-col flex-auto">
            <h2 class="font-semibold text-center 2xl">
              <a href="{{ article.url }}">{{ article.title }}</a>
            </h2>
            <div class="mb-5 text-primary-gray2">
              {{ article.author }} @ {{ article.created_at | time_tag | date: '%d %-m %Y' }}
            </div>

            {% if article.tags != blank %}
              <ul class="flex flex-wrap gap-1">
                {% for tag in article.tags %}
                  <li class="px-2 py-1 mb-2 text-sm rounded-3xl bg-primary-gray2">
                    {{ tag | capitalize }}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}

            <div class="ibg h-[200px] mb-2">
              {% if article.image.src %}
                {{ article.image.src | image_url: width: "500px" | image_tag }}
              {% else %}
                {{ "lifestyle-1" | placeholder_svg_tag }}
              {% endif %}

            </div>
            <div class="p-1 border border-gray-100 ">
              {% if article.excerpt.size > 0 %}
                {{ article.excerpt }}
              {% else %}
                <p>{{ article.content | strip_html | truncatewords: 50 }}</p>
              {% endif %}
            </div>
          </div>
          <div>
            {% render "button"
              , variant: "link"
              , text: "See moree"
              , href: article.url %}
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="mx-auto mt-5">
      {% render "pagination" pagination: paginate %}
    </div>
  {% endpaginate %}

</div>


{% schema %}
  {
    "name": "Blogs",
    "tag": "section",
    "settings": []
  }
{% endschema %}