<div class="container pt-[clamp(3rem,2.051vw+2.654rem,4.5rem)] pb-[clamp(1.5rem,0.28vw+1.435rem,1.688rem)] flex sm:flex-row flex-col justify-between gap-2 ">
  <div class="flex flex-col sm:max-w-[310px] max-w-full sm:w-1/2 w-full">
    {% render "logo"
      , logo: section.settings.logo-icon
      , class: "mb-4" %}
    <p class="text-primary-gray1">Phosf luorescently engage worldwide method process shopping.</p>
    {% render "social-icon-block"
      , socials: section.blocks
      , class: "items-center hidden gap-4 mt-6 sm:flex" %}
  </div>

  <div class="flex justify-between w-full max-w-full gap-2 sm:w-1/2">
    {% for linklist in section.blocks %}
      {% if linklist.type == "footerLinks" %}

        {% for listLink in linklist.settings.linksList %}
          <h4 class="">{{ listLink.title }}</h4>
          <ul>
            {% for link in listLink.links %}
              <li>
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
      {% endif %}
    {% endfor %}

  </div>
</div>

<div class="container flex flex-col flex-col-reverse items-center justify-center gap-2 py-6 border-t sm:flex-row sm:justify-between flxe border-primary-gray2">
  <p>© 2088 Nayzak Design</p>
  {% render "social-icon-block"
    , socials: section.blocks
    , class: "flex items-center gap-4 mb-4 sm:hidden" %}
  <div class="flex flex-row gap-6 mb-8 sm:mb-0 sm:gap-8 ">
    <div class="select local">
      local select
    </div>
    <div class="selext currency">
      currensy select
    </div>
  </div>
</div>


<script defer src="{{ "accordion.js" |  asset_url }}"></script>
{{ "accordion.css" | asset_url | stylesheet_tag }}

<script>
  //   document.addEventListener("DOMContentLoaded",()=>{
  //     new Accordion('.accordion-container');
  //   })
  //
</script>

{% schema %}
  {
    "name": "Footer",
    "tag": "footer",
    "settings": [
      {
        "label": "Logo",
        "id": "logo-icon",
        "type": "image_picker"
      }
    ],
    "blocks": [
      {
        "name": "Footer Links",
        "type": "footerLinks",
        "settings": [
          {
            "label": "Title Links",
            "id": "title",
            "type": "text"
          }, {
            "label": "Links",
            "id": "linksList",
            "type": "link_list"
          }
        ]
      }, {
        "name": "Social Icon",
        "type": "socialIcon",
        "settings": [
          {
            "label": "Icon img/svg",
            "id": "iconImg",
            "type": "image_picker"
          }, {
            "label": "Link",
            "id": "socialLink",
            "type": "url"
          }
        ]
      }
    ]
  }
{% endschema %}