<div
  class="
    container
    pt-[clamp(50px,50vw,100px)]
    pb-[clamp(1.5rem,0.28vw+1.435rem,1.688rem)]
    flex xl:flex-row flex-col justify-between gap-2 gap-y-10
    color-{{ section.settings.color_scheme }}
  "
>
  <div class="flex flex-col sm:max-w-[28.625rem] max-w-full gap-5">
    {% if section.settings.logo_active != blank %}
      {% render 'logo' %}
    {% endif %}
    <h4 class="text-[15px] font-bold">Talk about your store</h4>
    <p>
      Sea Level Swim features an extensive selection of precision contouring and body moulded swimsuits made from
      regenerated nylon. The result is a beautiful line up of luxurious high quality pieces that feel right for the
      times and designed to last.This is a demonstration of the Showcase theme for Shopify. Swimwear kindly donated by
      Sea Level Swim.
    </p>
    {{ item.image.src | image_url: width: '500px' | image_tag: loading: 'lazy' }}
  </div>

  <div class="flex-col justify-between w-full gap-3 sm:flex xl:flex-row">
    {% for block in section.blocks %}
      {% if block.type == 'footerLinks' %}
        <div class="sm:max-w-[205px] max-w-full">
          <h4 class="text-[15px] font-bold mb-5">{{ block.settings.blockLists.title }}</h4>
          <ul class="flex flex-col gap-[0.375rem]">
            {% for link in block.settings.blockLists.links %}
              <li class="text-[15px]">
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="flex flex-col gap-5 ">
    <h4 class="text-[15px] font-bold">Sign up for our newsletter to only receive good things.</h4>
    {% render 'input' %}
    <ul class="flex gap-5">
      <li>
        <a href="#">
          {% render 'icon-shop' %}
        </a>
      </li>
    </ul>
  </div>

  {% comment %}
    <div class="flex flex-col sm:hidden">
      <div class="accordion-container">
        {% for block in section.blocks %}
          {% if block.type == 'footerLinks' %}
            <div class="ac">
              <h2 class="ac-header">
                <button type="button" class="font-semibold ac-trigger">{{ block.settings.blockLists.title }}</button>
              </h2>
              <div class="ac-panel">
                <ul class="flex flex-col gap-3 p-2">
                  {% for link in block.settings.blockLists.links %}
                    <li class="text-[14px] text-primary-gray1">
                      <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endcomment %}
</div>

<div class="container flex flex-col flex-col-reverse items-center justify-center gap-5 py-6 sm:flex-row sm:justify-between">
  <p>© 2023 mila. Powered by Shopify</p>
  {% render 'social-icon-block', socials: section.blocks, class: 'flex items-center gap-4 mb-4 sm:hidden' %}
  <div class="flex flex-row items-center gap-6 mb-8 sm:mb-0 sm:gap-8">
    <div class="local-select"></div>
    <div class="selext currency">
      {% form 'currency' %}
        {{ form | currency_selector }}
      {% endform %}
    </div>
  </div>
</div>

<style>
  [name='currency'] {
    background-color: transparent;
    border-color: transparent;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
  }
  select:not([size]) {
    padding-right: 2rem;
    font-weight: 600;
  }
</style>

<script>
  window.addEventListener('DOMContentLoaded', () => {});
</script>

{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "class": "bg-backg",
  "settings": [
    {
      "type": "header",
      "content": "Header color schema"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Select color schema for header",
      "default": "scheme-3"
    },
    {
      "type": "checkbox",
      "id": "logo_active",
      "label": "Visibale Logo",
      "default": false
    }
  ],
  "blocks": [
    {
      "name": "Footer Links",
      "type": "footerLinks",
      "settings": [
        {
          "label": "Links",
          "id": "blockLists",
          "type": "link_list"
        }
      ]
    },
    {
      "name": "Social Icon",
      "type": "socialIcon",
      "settings": [
        {
          "label": "Icon img/svg",
          "id": "iconImg",
          "type": "image_picker"
        },
        {
          "label": "Link",
          "id": "socialLink",
          "type": "url"
        }
      ]
    }
  ]
}
{% endschema %}
